<title>TwoHearts - Find your match</title>
<body>
    <%- include ('partials/header.ejs') -%>
    <main>
        <%users.forEach(user => { %>
            <section>
                <img src='<%=user.img%>' alt='picture of chloe'></img>
                <h2><%=user.first_name%>, <%= user.age%></h2>
                <p><%= user.occupation %></p>
            </section>
        <% }) %>
    </main>     
    <%- include ('partials/nav.ejs') -%>
<%- include ('partials/footer.ejs') -%> 
</body>
