<title>TwoHearts - Find your match</title>
<body>
    <%- include ('partials/header.ejs') -%>
    <main class="container">
        <%users.forEach(user => { %>
            <section class="userContainer">
                <img src='<%=user.img%>' alt='<%=user.first_name%>'></img>
                <h2><%=user.first_name%>, <%= user.age%></h2>
                <p><%= user.occupation %> <span class="userGenre">| <%= user.genre %></span></p>                
            </section>
        <% }) %>
    </main>     
    <%- include ('partials/nav.ejs') -%>
<%- include ('partials/footer.ejs') -%> 
</body>
