<title>TwoHearts - Find your match</title>
<body>
    <%- include ('partials/header.ejs') -%>
    <main class="container">
        <%users.forEach(user => { %>
            <section class="userContainer">
                <img src='<%=user.img%>' alt='<%=user.first_name%>'></img>
                <h2><%=user.first_name%>, <%= user.age%></h2>
                <p><%= user.occupation %> | <span class="userGenre"><%=user.genre%></span></p>
                <div>
                    <!-- <ul>
                        <li>hello</li>
                    </ul> -->
                    <ul>
                        <li><img class='icon' src='../static/images/love_48px.png' alt='like'></li>
                        <li><img class='icon' src='../static/images/multiply_48px.png' alt='dislike'></li>
                    </ul>     
                </div>
            </section>
        <% }) %>
    </main>     
    <%- include ('partials/nav.ejs') -%>
<%- include ('partials/footer.ejs') -%> 
</body>
