<%- include ('partials/header.ejs') -%>

<title>TwoHearts - Find your match</title>

<%- include ('partials/nav.ejs') -%>

<h1>Find your match.</h1>

<form id="searchInterests">
    <input type="text" name="term" placeholder="Search interests ..." id="search">
</form>

<div id="container">

    <%users.forEach(user => { %>

    <div class="user">
        <img src="<%=user.img%>" alt="profileIMG" class="profileIMG">

        <h2 class="username">
            <a href="/<%= user.id%>" class="linkProfile"> <%=user.name%> </a> |
            <%= user.age %>
        </h2>

        <p class="bio"> <%= user.bio %> </p>

        <p class="interests"><%= user.interests %></p>

        <div class="likeDislike">

            <button class="likeDislikeBTN">

                <img src="images/dislike.png" alt="profile" class="likeDislikeIMG" id=dislike
                    data-value="<%=user._id %>">

            </button>

            <button class="likeDislikeBTN">
                <img src="images/like.png" alt="profile" class="likeDislikeIMG">
            </button>

        </div>

    </div>

    <% }) %>
</div>

<%- include ('partials/footer.ejs') -%>